[defaults]
inventory = inventory.yml
library = ./library

command_warnings = True
deprecation_warnings = True

local_tmp = /tmp/ansible
roles_path = /usr/local/share/ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path = /usr/local/share/ansible/roles/ansible_collections:/usr/share/ansible/roles/ansible_collections
remote_tmp = ${XDG_CACHE_HOME}/ansible/tmp
