[Unit]
Description=Atuin - Magical shell history
Documentation=https://github.com/ellie/atuin
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=1
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run -v "/home/quitlox/.config/atuin:/config" --network "host" --name %n --rm ghcr.io/ellie/atuin:latest server start

[Install]
WantedBy=multi-user.target
