bootstrap.sh
README.md
Session.vim
Microsoft.PowerShell_profile.ps1

settings.json
keybindings.json

.config/zsh/theme.sh

private_dot_config/ansible/roles/library
private_dot_config/ansible/roles/library/geerlingguy.docker
private_dot_config/ansible/roles/library/gantsign.visual-studio-code
private_dot_config/ansible/library
private_dot_config/ansible/library/aur

{{ if (eq .chezmoi.os "windows") }}
** # Default to ignore all (whitelist instead of blacklist)

!.gitconfig
!.ideavimrc

!.ssh
!.ssh/**

!.cache
!.cache/vim
!.cache/vim/**
!.local
!.local/share
!.local/share/texmf
!.local/share/texmf/**

!.config
!.config/Code
!.config/Code/**
!.config/vim
!.config/vim/**
!.config/nvim
!.config/nvim/**
!.config/zathura
!.config/zathura/**

!.config/pythonrc
!.config/starship.toml
{{ end }}

{{ if (eq .headless "true") }}
** # Default to ignore all (whitelist instead of blacklist)

!.gitconfig
!.profile
!.zprofile
!.zshenv
!.Xresources

!.cache/
!.cache/**
!.ssh/
!.ssh/**

!.config
!.config/base16-universal-manager
!.config/base16-universal-manager/**
!.config/dotfiles
!.config/dotfiles/**
!.config/systemd
!.config/systemd/**
!.config/vim
!.config/vim/**
!.config/nvim
!.config/nvim/**
!.config/zsh
!.config/zsh/**

!.config/pythonrc
!.config/user-dirs.dirs
!.config/starship.toml
{{ end }}
