# +- Gloabl Ignores -----------------------------------------+
README.md

settings.json
keybindings.json

.config/ansible/.ansible
.config/nvim/lazy-lock.json
.config/zsh/theme.sh

# +- Windows ------------------------------------------------+
{{ if (eq .chezmoi.os "windows") }}
** # Default to ignore all (whitelist instead of blacklist)

!.gitconfig
!.ideavimrc

!.ssh
!.ssh/**

!.cache
!.cache/vim
!.cache/vim/**
!.local
!.local/share
!.local/share/texmf
!.local/share/texmf/**

!.config
!.config/Code
!.config/Code/**
!.config/vim
!.config/vim/**
!.config/nvim
!.config/nvim/**
!.config/nvim_new
!.config/nvim_new/**
!.config/zathura
!.config/zathura/**
!.config/ansible
!.config/ansible/**

!.config/pythonrc
!.config/starship.toml

!Documents
!Documents/PowerShell
!Documents/PowerShell/Profile.ps1
!Documents/PowerToys
!Documents/PowerToys/Backup
!Documents/PowerToys/Backup/**

!AppData
!AppData/Roaming
!AppData/Roaming/alacritty
!AppData/Roaming/alacritty/**
!AppData/Local
!AppData/Local/neovide
!AppData/Local/neovide/**
!AppData/Local/glazewm
!AppData/Local/glazewm/**

{{ else }}

# +- Linux --------------------------------------------------+

# If not on windows, ignore Windows-specific files and folders
Documents
Documents/PowerShell/Profile.ps1
Documents/PowerToys/
Pictures
Pictures/Screenshots
Pictures/Wallpapers
AppData
AppData/Roaming
AppData/Local
AppData/Local/neovide
AppData/Local/glazewm

{{ if (eq .headless "true") }}

# +- Linux: Headless ----------------------------------------+
# Ignore GUI-specific files and folders
.config/eww
.config/hypr
.config/fontconfig
.config/gtk-2.0
.config/ideavim
.config/kitty
.config/Code
.config/qutebrowser
.config/zathura
.mozilla

{{ end }}

{{ end }}
