README.md

settings.json
keybindings.json

.config/zsh/theme.sh
.config/nvim/lazy-lock.json

{{ if (eq .chezmoi.os "windows") }}
** # Default to ignore all (whitelist instead of blacklist)

!.gitconfig
!.ideavimrc

!.ssh
!.ssh/**

!.cache
!.cache/vim
!.cache/vim/**
!.local
!.local/share
!.local/share/texmf
!.local/share/texmf/**

!.config
!.config/Code
!.config/Code/**
!.config/vim
!.config/vim/**
!.config/nvim
!.config/nvim/**
!.config/nvim_new
!.config/nvim_new/**
!.config/zathura
!.config/zathura/**
!.config/ansible
!.config/ansible/**

!.config/pythonrc
!.config/starship.toml

!Documents
!Documents/PowerShell
!Documents/PowerShell/Profile.ps1
!Documents/PowerToys
!Documents/PowerToys/Backup
!Documents/PowerToys/Backup/**
{{ else }}

# If not on windows, ignore Windows-specific files and folders
Documents/PowerShell/Profile.ps1

{{ if (eq .headless "true") }}
** # Default to ignore all (whitelist instead of blacklist)

!.gitconfig
!.profile
!.zprofile
!.zshenv
!.Xresources

!.cache/
!.cache/**
!.ssh/
!.ssh/**

!.config
!.config/base16-universal-manager
!.config/base16-universal-manager/**
!.config/dotfiles
!.config/dotfiles/**
!.config/systemd
!.config/systemd/**
!.config/vim
!.config/vim/**
!.config/nvim
!.config/nvim/**
!.config/nvim_new
!.config/nvim_new/**
!.config/zsh
!.config/zsh/**
!.config/ansible
!.config/ansible/**

!.config/pythonrc
!.config/user-dirs.dirs
!.config/starship.toml
{{ end }}

{{ end }}
