########################################
### PROMPTED PROPERTIES              ###
########################################

{{- $email := "" }}
{{- if (hasKey . "email") }}
{{-   $email = .email }}
{{- else }}
{{-   $email = promptString "E-Mail (git)" }}
{{- end }}

{{- $headless := "" }}
{{- if (hasKey . "headless") }}
{{-   $headless = .headless }}
{{- else }}
{{-   $headless = promptBool "headless" }}
{{- end }}

{{- $vm := "" }}
{{- if (hasKey . "vm") }}
{{-   $vm = .vm }}
{{- else }}
{{-   $vm = promptBool "vm" }}
{{- end }}

########################################
### DATA                             ###
########################################

encryption = "age"

[data]
    email = {{ $email | quote }}
    headless = {{ $headless | quote }}
    vm = {{ $vm | quote }}

[age]
    identity = {{ joinPath .chezmoi.homeDir ".ssh/.age_private_key.txt" | quote }}
{{- if eq .chezmoi.os "windows" }}
    recipient = {{ (bitwardenFields "item" "ChezMoi Dotfiles Manager").age_public_key.value | quote }}
{{- else }}
    recipient = {{ (rbwFields "ChezMoi Dotfiles Manager").age_public_key.value | quote }}
{{- end }}

[hooks.read-source-state.pre]
{{- if eq .chezmoi.os "windows" }}
script = {{ joinPath .chezmoi.sourceDir "/../scripts/install_age_key.ps1" | quote }}
{{- else }}
script = {{ joinPath .chezmoi.sourceDir "/../scripts/install_age_key.bash" | quote }}
{{- end }}
args = [{{ .chezmoi.homeDir | quote }}]
