# +- Global Ignores -----------------------------------------+
README.md

**/CLAUDE.md
**/.vectorcode

settings.json
keybindings.json

.config/ansible/.ansible
.config/ansible/tmp
.config/eww/docs
.config/nvim/lazy-lock.json
.config/zsh/theme.sh

# Work-specific
.config/systemd/user/copilot-api.service

# +- Windows ------------------------------------------------+
{{ if (eq .chezmoi.os "windows") }}
** # Default to ignore all (whitelist instead of blacklist)

#!.gitconfig
!.ideavimrc

!.config
!.config/komorebi
!.config/komorebi/komorebi.json
!.config/komorebi/komorebi.bar.json
!.config/komorebi/start-komorebi.ps1
#!.config/komorebi/applications.json -- should be fetched from online
!.config/whkdrc

!Documents
!Documents/PowerShell
!Documents/PowerShell/Microsoft.PowerShell_profile.ps1
!Documents/PowerToys
!Documents/PowerToys/Backup
!Documents/PowerToys/Backup/**

!AppData
!AppData/Roaming
!AppData/Roaming/alacritty
!AppData/Roaming/alacritty/**
!AppData/Local
!AppData/Local/neovide
!AppData/Local/neovide/**

{{ else }}

# +- Linux --------------------------------------------------+

# If not on windows, ignore Windows-specific files and folders
Documents
Documents/PowerShell/Profile.ps1
Documents/PowerToys/
# Pictures
Pictures/Screenshots
# Pictures/Wallpapers
AppData
AppData/Roaming
AppData/Local
AppData/Local/neovide
AppData/Local/glazewm

{{ if (eq .headless "true") }}

# +- Linux: Headless ----------------------------------------+
# Ignore GUI-specific files and folders
.face.icon
.config/Code
.config/eww
.config/fontconfig
.config/gtk-2.0
.config/hypr
.config/ideavim
.config/kitty
.config/qutebrowser
.config/systemd/user/wacom.service
.config/zathura
.local/share/texmf
.mozilla
scripts

{{ end }}

{{ end }}
