########################################
### PROMPTED PROPERTIES              ###
########################################

{{- $email := "" }}
{{- if (hasKey . "email") }}
{{-   $email = .email }}
{{- else }}
{{-   $email = promptString "E-Mail (git)" }}
{{- end }}

{{- $headless := "" }}
{{- if (hasKey . "headless") }}
{{-   $headless = .headless }}
{{- else }}
{{-   $headless = promptBool "headless" }}
{{- end }}

########################################
### DATA                             ###
########################################

encryption = "age"

[data]
    email = {{ $email | quote }}
    headless = {{ $headless | quote }}

[age]
    identity = {{ joinPath .chezmoi.homeDir ".ssh/.age_private_key.txt" | quote }}
    recipient = {{ (rbwFields "ChezMoi Dotfiles Manager").age_public_key.value | quote }}

[hooks.read-source-state.pre]
command = "sh"
args = ["-c", "rbw get -f age_private_key 'ChezMoi Dotfiles Manager' > {{ joinPath .chezmoi.homeDir ".ssh/.age_private_key.txt" | squote }}"]
