#!/bin/sh

########################################
### Application Defaults
########################################

export QT_QPA_PLATFORMTHEME="qt5ct"
export EDITOR=/usr/bin/nvim
export BROWSER=/usr/bin/firefox
export TERMINAL_CMD="kitty -e"
export TERMINAL="kitty"
export HYPRSHOT_DIR="$HOME/Pictures/Screenshots/"

########################################
### Configurations
########################################

# Add binary locations to PATH
export PATH="$PATH:/sbin"
export PATH="$PATH:$HOME/.local/bin"
# Add go to PATH
export PATH="$PATH:$HOME/.local/share/go/bin"
# Add npm to PATH
export PATH="$PATH:$HOME/.local/share/npm/bin"
# Add snap to PATH (raspberry pi)
export PATH="$PATH:/snap/bin"

# XDG_BASE spec
XDG_CACHE_HOME="$HOME/.cache"
XDG_DATA_HOME="$HOME/.local/share"
XDG_STATE_HOME="$HOME/.local/state"
XDG_CONFIG_HOME="$HOME/.config"
# Load XDG_BASE_DIR configuration
[[ -f ~/.config/user-dirs.dirs ]] && source ~/.config/user-dirs.dirs

# Required by ssh-agent.service, which auto-starts ssh-agent
# https://wiki.archlinux.org/index.php/SSH_keys#Start_ssh-agent_with_systemd_user
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

# Used by TNO Projects
export CI_JOB_TOKEN={{ (rbwFields "ci.tno.nl").ACCESS_TOKEN_PIP.value | quote }}
# Used by Neovim ChatGPT plugin
export OPENAI_API_KEY={{ (rbwFields "OpenAI").OPENAI_API_KEY.value | quote }}
export ANTHROPIC_API_KEY={{ (rbwFields "Anthropic").API_KEY.value | quote }}
# Used by Neovim octo.nvim plugin
export GITHUB_TOKEN={{ (rbwFields "github.com").GITHUB_TOKEN_NEOVIM.value | quote }}

########################################
### XDG_BASE_DIR: fucking conform
########################################

# NECESSARY
# export NVIM_LISTEN_ADDRESS=/tmp/nvimsocket # Broke since nvim 0.11

# XDG_CONFIG_HOME
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="$XDG_CONFIG_HOME"/java
export DOT_SAGE="$XDG_CONFIG_HOME"/sage
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc-2.0"
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/npmrc
export WGETRC="$XDG_CONFIG_HOME/wgetrc"

# XDG_DATA_HOME
export GOPATH="$XDG_DATA_HOME/go"
export GRADLE_USER_HOME="$XDG_DATA_HOME/gradle"
export MAVEN_OPTS=-Dmaven.repo.local="$XDG_DATA_HOME"/maven/repository
export NODE_REPL_HISTORY="$XDG_DATA_HOME/node_repl_history"
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export SSB_HOME="$XDG_DATA_HOME/zoom" # Zoom
export SQLITE_HISTORY=$XDG_DATA_HOME/sqlite_history
export TERMINFO="$XDG_DATA_HOME"/terminfo
export TERMINFO_DIRS="$XDG_DATA_HOME"/terminfo:/usr/share/terminfo

# XDG_CACHE_HOME
export MYPY_CACHE_DIR="$XDG_CACHE_HOME"/mypy
export PARALLEL_HOME="$XDG_CACHE_HOME"/parallel
export PKG_CACHE_PATH="$XDG_CACHE_HOME/pkg-cache"

# Less
export LESSKEY="$XDG_CONFIG_HOME/less/lesskey"
export LESSHISTFILE="$XDG_CACHE_HOME/less/history"

# Python
export PYTHONSTARTUP="$XDG_CONFIG_HOME/pythonrc"
export PYTHONHISTFILE="$XDG_DATA_HOME/python_history"
export IPYTHONDIR="$XDG_CONFIG_HOME/jupyter"
export JUPYTER_CONFIG_DIR="$XDG_CONFIG_HOME/jupyter"

# Rust
export PATH="$PATH:$HOME/.local/share/cargo/bin"
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
export CARGO_HOME="$XDG_DATA_HOME/cargo"

# Haskell
export CABAL_CONFIG="$XDG_CONFIG_HOME/cabal/config"
export STACK_ROOT="$XDG_DATA_HOME/stack"
export GHCUP_USE_XDG_DIRS=1

# Pyenv
export PYENV_ROOT="$HOME/.local/src/pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
[ -d "$PYENV/.local/src/pyenv" ] && eval "$(pyenv init --path)"

# Tex Live
export TEXMFHOME=$XDG_DATA_HOME/texmf
export TEXMFVAR=$XDG_CACHE_HOME/texlive/texmf-var
export TEXMFCONFIG=$XDG_CONFIG_HOME/texlive/texmf-config

# Ansible
export ANSIBLE_HOME="${XDG_CONFIG_HOME}/ansible"
export ANSIBLE_CONFIG="${XDG_CONFIG_HOME}/ansible.cfg"
export ANSIBLE_GALAXY_CACHE_DIR="${XDG_CACHE_HOME}/ansible/galaxy_cache"

# Nvm
export NVM_DIR="$HOME/.local/share/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

# Java
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Arch Linux")) }}
# Shouldn't be necessary, but some terminal applications rely on it
export JAVA_HOME=/usr/lib/jvm/default
{{- end }}

########################################
### Applications
########################################
# Environment variables for random applications

# OCAML
export OPAMROOT=$XDG_DATA_HOME/opam
[[ ! -r /home/quitlox/.local/share/opam/opam-init/init.zsh ]] || source /home/quitlox/.local/share/opam/opam-init/init.zsh  > /dev/null 2> /dev/null

# Added by Toolbox App
export PATH="$PATH:/home/quitlox/.local/share/JetBrains/Toolbox/scripts"
# Added by Cargo
[ -f "/home/quitlox/.local/share/cargo/env" ] && . "/home/quitlox/.local/share/cargo/env"

