[init]
	defaultBranch = main
[user]
	name = Kevin Witlox
	email = {{ .email }}
[credential]
	helper = cache --timeout=10800
[core]
	excludesFile = ~/.config/gitignore
	editor = nvim
	autocrlf = input
[rerere]
	enabled = true

[includeIf "gitdir:~/Workspace/tno/"]
  path = .gitconfig-tno
