[Unit]
Description=HomeAssistant Docker Container through Podman

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a home-assistant
ExecStop=/usr/bin/podman stop -t 2 home-assistant

[Install]
WantedBy=multi-user.target
