* {
    all: unset;
}

$surface0: rgba(204, 208, 218, 0.1);

// +--- Sections --------------------------------------------------------------+
.bar-container {
    padding: 0 16 8 16;
    // background: rgba(204, 208, 218, 0.1); // surface0
}

.section-end-container {
    // background: rgba(204, 208, 218, 0.1); // surface0
}

// +--- Widget: Workspaces ----------------------------------------------------+
.workspaces {
    background: $surface0;
    border-radius: 8;
    font-size: 14;
    font-family: 'Iosevka';
}

.workspace-entry {
    border-radius: 12;
    padding: 12;
    margin: 2;
}

.workspace-current {
    background: rgba(255, 255, 255, 0.15);
    font-weight: bold;
}

.workspace-occupied {}

.workspace-empty {}

// +--- Widget: Brightness ----------------------------------------------------+
.brightness {
    background: $surface0;
    border-radius: 8;
    padding: 0 8;
    margin: 0 8 0 0;
    font-size: 12;
}

// +--- Widget: Battery -------------------------------------------------------+
.battery {
    background: $surface0;
    border-radius: 8;
    padding: 0 8;
    margin: 0 8 0 0;
    font-size: 12;
}

// +--- Widget: Date and Time -------------------------------------------------+
.datetime-container {
    background: $surface0;
    border-radius: 8;
    padding: 0 8;
    font-size: 14;
    font-family: 'Iosevka';
}

// +--- Widget: Notifications Button ------------------------------------------+
.notifications-button {
    background: $surface0;
    border-radius: 8;
    padding: 0 8;
    margin: 0 0 0 8;

    &:hover {
        background: rgba(204, 208, 218, 0.5);
    }
}
