* {
    all: unset;
}

$surface0: rgba(204, 208, 218, 0.1);

// +--- Sections --------------------------------------------------------------+
.bar-container {
    padding: 0 16 8 16;
    // background: rgba(204, 208, 218, 0.1); // surface0
}

.section-end-container {
    // background: rgba(204, 208, 218, 0.1); // surface0
}

// +--- Widget: Base ----------------------------------------------------------+
.base {
    background: $surface0;
    border-radius: 8;
    padding: 0 8;
    margin: 0 8 0 0;
    font-size: 12;
    font-family: 'Iosevka';
}

// +--- Window: Powermenu -----------------------------------------------------+
.powermenu-container {
    @extend .base;
    font-size: 14;
    font-family: '';
}

.powermenu-item {
    margin: 16 16;

    >:first-child {
        margin: 0 0 4 0;
    }
}

// +--- Widget: Workspaces ----------------------------------------------------+
.workspaces {
    background: $surface0;
    border-radius: 8;
    font-size: 14;
    font-family: 'Iosevka';
}

.workspace-entry {
    border-radius: 12;
    padding: 12;
    margin: 2;
}

.workspace-current {
    background: rgba(255, 255, 255, 0.15);
    font-weight: bold;
}

.workspace-occupied {}

.workspace-empty {}

// +--- Widget: Music Player --------------------------------------------------+
.music-player-container {
    @extend .base;
    font-size: 14;
}

// +--- Widget: Brightness ----------------------------------------------------+
.brightness {
    @extend .base;
}

// +--- Widget: Battery -------------------------------------------------------+
.battery {
    @extend .base;
}

// +--- Widget: Date and Time -------------------------------------------------+
.datetime-container {
    @extend .base;
    font-size: 14;
}

// +--- Widget: Container System ----------------------------------------------+
.container-system {
    @extend .base;
    font-size: 14;
}

.wifi {
    margin: 4;
}

.ethernet {
    margin: 4;
}

.ethernet-tooltip {
    background: rgba(204, 208, 218, 0.5);
    border-radius: 8;
    padding: 4;
    font-size: 12;
}

// +--- Widget: Notifications Button ------------------------------------------+
.notifications-button {
    @extend .base;

    &:hover {
        background: rgba(204, 208, 218, 0.5);
    }
}
