allow_remote_control true
listen_on unix:/tmp/my_kitty_socket

# Font
font_family      Iosevka Nerd Font
bold_font        auto
italic_font      auto
bold_italic_font auto

# Disable close on ctrl+d
map ctrl+d no_op 

{{ if eq .chezmoi.hostname "quitlox-LenovoT14" }}
font_size 13.0
{{ end }}

# Transaparent Background
background_opacity 0.7

dynamic_background_opacity yes

#: The window margin (in pts) (blank area outside the border). A
#: single value sets all four sides. Two values set the vertical and
#: horizontal sides. Three values set top, horizontal and bottom. Four
#: values set top, right, bottom and left.

window_margin_width 15 15 15 15

#: The window margin (in pts) to use when only a single window is
#: visible. Negative values will cause the value of
#: window_margin_width to be used instead. A single value sets all
#: four sides. Two values set the vertical and horizontal sides. Three
#: values set top, horizontal and bottom. Four values set top, right,
#: bottom and left.

single_window_margin_width -1

#: The window padding (in pts) (blank area between the text and the
#: window border). A single value sets all four sides. Two values set
#: the vertical and horizontal sides. Three values set top, horizontal
#: and bottom. Four values set top, right, bottom and left.

window_padding_width 0

include theme.conf

