{{ if (eq .vm "true") }}

# Replace terminal: kitty with foot as kitty is heavy
bind = $mainMod, RETURN, exec, foot

# Disable animations and decorations
decoration {
    blur {
        enabled = false
    }

    shadow {
        enabled = false
    }
}

animations {
    enabled = false
}

{{ end }}
