
[Unit]
Description=Docker Compose Obsidian Sync Service
Requires=docker.service
After=docker.service

[Service]
User=obsidian-sync
# Where the docker-compose file is located
WorkingDirectory=/var/www/obsidian-sync
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
