#!/bin/bash

source {{ joinPath .chezmoi.sourceDir .includeDir "/dep_all.sh" | quote }}

if ! command -v "xsetwacom" &> /dev/null
then
	berror "Missing dependency: 'xsetwacom'"
fi
if ! command -v "awk" &> /dev/null
then
	berror "Missing dependency: 'awk'"
fi

# Wait until tablet is connected
# (this script is launched by a udev rule)
for i in $(seq 10); do
    if xsetwacom list devices | grep -q Wacom; then
        break
    fi
    sleep 1
done

# Find the id of the pad
pad=$(xsetwacom --list devices \
	| awk --field-separator '\t' '/pad/ {split($2, ID, ": "); print ID[2];}')
stylus=$(xsetwacom --list devices \
	| awk --field-separator '\t' '/stylus/ {split($2, ID, ": "); print ID[2];}')
debug "stylus id is $stylus"

# Exit if tablet not connected
if [[ -z $pad ]]; then
	bwarning "Wacom Tablet not connected!"
	exit 0
fi

# Retrieve resolution of first monitor
resolution=$(xrandr | grep ' connected' | head -1 | awk '{print $3}')
screen_width=$(xrandr | grep ' connected' | head -1 | sed -r 's/.* connected ([0-9]+)x([0-9]+).*/\1/')
screen_height=$(xrandr | grep ' connected' | head -1 | sed -r 's/.* connected ([0-9]+)x([0-9]+).*/\2/')

# Map the tablet to the first display
xsetwacom set $stylus MapToOutput $resolution
# Update the tablet area according to screen aspect ratio
xsetwacom set $stylus ResetArea
tablet_width=$(xsetwacom get $stylus Area | awk '{print $3}')
xsetwacom set $stylus Area "0" "0" "$tablet_width" "$(($tablet_width * $screen_height / $screen_width))"
# My tablets pressure is kinda broken :c
xsetwacom set $stylus Threshold 700

# Setup Tablet
xsetwacom set $pad Button 2 "key +ctrl z -ctrl"
xsetwacom set $pad Button 3 "key esc"
xsetwacom set $pad Button 8 "key +ctrl button 4 key -ctrl"
xsetwacom set $pad Button 9 "key +ctrl button 5 key -ctrl"
xsetwacom set $pad Button 10 "key +space"

success "Succesfully remapped Pad for use with Obsidian!"

exit 0
